.main-page{
    position: relative;
    background-color: #17181A;
    width: 1920px;
    height: 1080px;
    font-family: Khand;
}

.photo_main {
    position: absolute;
    top: 111px;
    left: 106px;
    width: 537px;
    height: 775px;
}

.main_menu {
    text-align: right;
    margin-right: 70px;
}

.menu {
    left: 958px;
}

.menu li{
    display: inline-block;
    margin-left: 70px;
    margin-top: 25px;
    font-size: 45px;
}

.menu li a{
    transition-duration: 0.5s;
    text-decoration: none;
    color: #EDEDED;
}